body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #000;
    color: white;
}

.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.dots {
    text-align: center;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 5px;
    background-color: #555;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #fff;
}
